.movie-details-container img{
  width: 300px;
  height: 450px;
  float: left;
  margin-right: 10px;
}

.movie-details-container p{
  margin:0px;
}

.movie-details-container p.description{
  margin-top:30px;
}
